.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  background-color: #1f1f1f;
}
.Grid{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 20px;
  min-width: 460px;
  min-height: 460px;
  border: 5px solid #3b3b3b;
  padding: 30px;
  border-radius: 40px;
}
.Tab button{
  position: relative;
  bottom: 0px;
  background-color: #a3a3a3;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 25px;
  margin: 5px;
  transition: all .5s;
}
.Tab button:hover{
  bottom: 7px;
  padding: 15px 35px;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 5px #595959;
}
.Active{
  background-color: #ccffed !important;
}
.Active:hover{
  box-shadow: 0px 4px 5px #57756a !important;
}
