:root{
    --box-shadow-spread: 15px;
}

.block{
    position: relative;
    bottom: 0px;
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transition: all .2s;
}
.red{
    background-color: #ff7878;
}
.green{
    background-color: #9cffa2;
}
.blue{
    background-color: #9cf8ff;
}
.red:hover{
    bottom: 5px;
    box-shadow: 0px 0px var(--box-shadow-spread) #ff7878;
    background-color: #ff7878;
}
.green:hover{
    bottom: 5px;
    box-shadow: 0px 0px var(--box-shadow-spread) #9cffa2;
    background-color: #9cffa2;
}
.blue:hover{
    bottom: 5px;
    box-shadow: 0px 0px var(--box-shadow-spread) #9cf8ff;
    background-color: #9cf8ff;
}